/* Base */
:root {
    --color-primary-dark: #030303;
    --color-primaty-light: #FFFFFF;
    --color-brand-gold: #9D8665;
    --color-brand-red: #710707;
}

html {
    scroll-behavior: smooth;
}


* {
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    font-size: 22px;
    font-weight: 200;
    margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin-top: 0;
    margin-bottom: 0;
}

a {
    text-decoration: none;
    transition: 0.7s;
}

ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.link {
    color: var(--color-primaty-light);
    letter-spacing: 2px;
}

.link:hover {
    color: var(--color-brand-gold);
}

.container {
    width: 1440px;
    max-width: 1440px;
    margin: 0 auto;
}

.section-title {
    font-family: 'Forum';
    font-size: 80px;
    font-style: normal;
    font-weight: 400;
    line-height: 90px;
    letter-spacing: 5px;
    text-transform: uppercase;
    margin-bottom: 25px;
}

.dark-section {
    background-color: var(--color-primary-dark);
}

/* header */

.header {
    background-color: var(--color-primary-dark);
}

.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 62px 0;
}

.header-menu {
    display: flex;
    gap: 55px;
}

/* welcome */

.welcome-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.welcome-title {
    color: var(--color-primaty-light);
}

.welcome-text {
    font-size: 28px;
    font-weight: 300;
    letter-spacing: 2px;
    margin-bottom: 75px;
}

.button-welcome {
    padding: 24px 64px;
    border-radius: 10px;
    color: var(--color-primaty-light);
    background-color: var(--color-brand-red);
    font-size: 24px;
    font-weight: 400;
    letter-spacing: 1.2px;
}

.button-welcome:hover {
    background-color: var(--color-brand-gold);
}

.welcome-image {
    background-image: url('./assets/img/welcome-slider/1.jpg');
}